.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body-background {
  /* float: center; */
  background-color: #37404B;
  color: #F4C87A
}

.dropdown {
  width: 200px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Drop Down Menu */
select {
  padding: 8px;
  font-size: 10px;
}

/* Select a store: size */
.select-label {
  font-size: 20px;
  color: #F4C87A
}

/* Height and Width of the logo */
.resize-logo {
  width: 400px;
  height: 400px;
}

/* Links */
.link {
  color: white;
}


/* Project Tabs */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.tab.active {
  color: #F4C87A;
  border-bottom: 2px solid #F4C87A;
}

.tab-content {
  margin-top: 20px;
}

.tab-text {
  width: 500px;
  height: 100px;
  /* Keep some space around the text */
  border: 1px solid #F4C87A;
  border-radius: 4px;
  color: white;
  /* Hide when not active */
  display: none;
}
.tab-text.active {
  display: block;
}

.App-link {
  color: #61dafb;
}









/* Store */
.store-body {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.store-columns {
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  flex-basis: calc(50% - 10px);
}

.store-section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.store-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.store-section ul {
  padding-left: 20px;
  list-style: none;
}

.store-section li {
  margin-bottom: 5px;
}

.store-section a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}