.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body-background {
  /* float: center; */
  background-color: #37404B;
  color: #F4C87A
}

.dropdown {
  width: 200px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Drop Down Menu */
select {
  padding: 8px;
  font-size: 10px;
}

/* Select a store: size */
.select-label {
  font-size: 20px;
  color: #F4C87A
}

/* Height and Width of the logo */
.resize-logo {
  width: 400px;
  height: 400px;
}

/* Links */
.link {
  color: white;
}


/* Project Tabs */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.tab.active {
  color: #F4C87A;
  border-bottom: 2px solid #F4C87A;
}

.tab-content {
  margin-top: 20px;
}

.tab-text {
  width: 500px;
  height: 100px;
  /* Keep some space around the text */
  border: 1px solid #F4C87A;
  border-radius: 4px;
  color: white;
  /* Hide when not active */
  display: none;
}



.tab-text.active {
  display: block;
}










.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}